.product-page {
  padding: 1rem;
  .page-container {
    .product-detail {
      background-color: white;
      padding: 2rem;
      display: flex;
      margin-bottom: 3rem;
      .image-container {
        width: 500px;
        img {
          max-width: 80%;
          object-fit: contain;
        }
      }
      .text {
        width: 50%;
        .title {
          font-size: 2rem;
          margin-bottom: 2rem;
        }
        .description {
          max-width: 600px;
        }
        .category {
          font-size: 1rem;
          margin-bottom: 2rem;
          color: gray;
        }
        .price {
          font-size: 1.6rem;
          font-weight: 700;
          margin-bottom: 3rem;
        }
        .qty-selector {
          display: flex;
          align-items: center;
          margin-bottom: 3rem;
          color: gray;
          .qty-btn {
            display: flex;
            margin-left: 1rem;
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            input[type="number"] {
              -moz-appearance: textfield;
            }
            .borderL {
              border: 1px solid lightgray;
              padding: 0.5rem 0.8rem;
              margin: 0;
              cursor: pointer;
              width: 45px;
            }
          }
        }

        .btn-container {
          .btn {
            padding: 0.7rem 2rem;
            border-radius: 4px;
            background-color: darkblue;
            color: white;
            font-size: 1.2rem;
            border: none;
            cursor: pointer;
            &:hover {
              color: rgb(230, 224, 224);
            }
          }
          .btn1 {
            margin-right: 2rem;
          }
          .btn2 {
            background-color: darkred;
          }
        }
      }
    }
    .purchase-detail {
      background-color: White;
      padding: 2rem;
      margin-bottom: 2rem;

      p {
        line-height: 1.5;
        max-width: 800px;
        text-align: justify;
        font-weight: 500;
      }
    }

    .other-products {
      padding: 2rem;
      margin-bottom: 3rem;

      .card--container {
        display: flex;
        overflow-x: scroll;
        .card--content {
          padding: 1rem;
        }
      }
    }
  }
}
